@model IEnumerable<POS.Models.ItemCategories>

@{
    ViewData["Title"] = "AllCategories";
}
<link href="~/css/datatables.min.css" rel="stylesheet" />
<h1>AllCategories</h1>
@if (ViewBag.SMessage != null)
{
    <div class="alert alert-success text-center">@ViewBag.SMessage</div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered" id="tblcat">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
         @*   <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyBy)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsDel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
               @if(item.Status == 1){
                        <label class="label  bg-info">Active</label>
               }
               else{
                        <span class="label bg-danger">In-Active</span>
               }
            </td>
            <td>
               @(item.CreatedDate.ToString("dd-MMM-yyyy hh:mm:ss tt"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
         @*   <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyBy)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsDel)
            </td>
            <td>
                    <a asp-action="UpdateCategory" class="btn btn-info btn-sm" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="CategoryDetail" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteCategory" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
   @* <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>*@
    <script src="~/js/jquery-3.6.1.min.js"></script> 
    <script src="~/js/datatables.min.js"></script>
    <script>
     
        $(document).ready(function () {
            alert(1);
            $("#tblcat").DataTable({
                buttons: [
                    'copy', 'excel', 'pdf'
                ]

            });

        });
    </script>
}
