@model POS.Models.Items

@{
    ViewData["Title"] = "DetailItem";
}

<h1>DetailItem</h1>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Item Name
        </dt>
        <dd class = "col-sm-10">
         @*   @Html.DisplayFor(model => model.ItemName)*@
         @Model.ItemName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qunatity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qunatity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
     @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDel)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
